<div class="maincontent">

  <article class="productslist>
    <div class="container">
      <div class="row">
          <% products.forEach(function(item) { %>
          <div class="<% if (pageID == 'productList') { %>col-sm-4 text-center<% } else { %>col-sm-8 <% } %>">
            <h4 class="productslist-title"><%= item.title %></h4>
            <h5 class="productslist-name"><a href="<%= item.linkToAmazon %>"><%= item.couponDetails %></a></h5>
            <p class="productslist-info">
              <a href="/products/<%= item.shortname %>">
                  
                    <img class="productslist-img img-product pull-left" src="/images/products/<%= item.shortname %>.jpg" alt="Photo of <%= item.name %>"></a>
                </a>

                <% if (pageID == 'productDetail') { %>
                  <img class="productslist-img img-product img-responsive pull-left" src="/images/products/<%= item.shortname %>.jpg" alt="Photo of <%= item.name %>"></a>
                <% } %>
            </a>

              <% if (pageID !== 'productList') { %>
                <% if (pageID == 'productList') { %>
                  <%= item.summary %>
                <% } else { %>
                  <%- item.description %>
                <% } %>
              <% } %>
            </p>
          </div>
          <%  }); %>
      </div><!-- row -->
    </div><!-- container -->
  </article>

</div>
