  <div class="media-list">
    <a class="link-to-amazon" href="https://www.amazon.com/gp/product/B01MQDFI2X">Gold Electric Lighter</a> <span class="coupon-percentage">30%</span> off coupon <span class="coupon-code">30offarc</span> 
  </div>
  <div class="media-list">
    <a class="link-to-amazon" href="https://www.amazon.com/gp/product/B011KPUDLO">Multi-Color Flashflight LED Flying Disc</a> <span class="coupon-percentage">50%</span> off coupon <span class="coupon-code">offmulti</span> 
  </div>
  <div class="media-list">
    <a class="link-to-amazon" href="https://www.amazon.com/gp/product/B011KPUDHS">Blue Color Flashflight LED Flying Disc</a> <span class="coupon-percentage">50%</span> off coupon <span class="coupon-code">bluefris</span> 
  </div>
  <div class="media-list">
    <a class="link-to-amazon" href="https://www.amazon.com/gp/product/B010ZHPRWI">Silicone Baking Cups + Cake Decoration Pen</a> <span class="coupon-percentage">50%</span> off coupon <span class="coupon-code">bake4all</span> 
  </div>

<article class="productslist <% if (pageID == 'home') { %>jumbotron hidden-xs<% } %>">
  <div class="container">
    <div class="row">
        <% products.forEach(function(item) { %>
        <div class="<% if (pageID == 'home') { %>col-sm-4 text-center<% } else { %>col-sm-8 <% } %>">
          <h4 class="productslist-title"><%= item.title %></h4>
          <h5 class="productslist-name"><a href="<%= item.linkToAmazon %>"><%= item.couponDetails %></a></h5>
          <p class="productslist-info">
            <a href="/products/<%= item.shortname %>">
                <% if (pageID == 'home') { %>
                  <img class="productslist-img img-product" src="/images/products/<%= item.shortname %>.jpg" alt="Photo of <%= item.name %>"></a>
                <% } %>

                <% if (pageID == 'productList') { %>
                  <img class="productslist-img img-product pull-left" src="/images/products/<%= item.shortname %>.jpg" alt="Photo of <%= item.name %>"></a>
                <% } %>
              </a>

              <% if (pageID == 'productDetail') { %>
                <img class="productslist-img img-product img-responsive pull-left" src="/images/products/<%= item.shortname %>.jpg" alt="Photo of <%= item.name %>"></a>
              <% } %>
          </a>

            <% if (pageID !== 'home') { %>
              <% if (pageID == 'productList') { %>
                <%= item.summary %>
              <% } else { %>
                <%- item.description %>
              <% } %>
            <% } %>
          </p>
        </div>
        <%  }); %>
    </div><!-- row -->
  </div><!-- container -->
</article>
